.show-all-posts-button {
    background: none;
    border: none;
    color: #7c95b1;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s ease;
    margin-left: 10px; /* 确保按钮与搜索图标有间距 */
}

.show-all-posts-button:hover {
    color: #7c95b1;
} 